<!--All other pages will inherit functionality from this page-->
<!doctype html>
<html>
    <head>
        <!--Placeholder for title-->
        <title>{% block title %}{% endblock %} </title>
        <!--Initial styling for NavBar and body-->
        <style>{% block style %}{% endblock %}
            nav{
                display: flex;
                justify-content: flex-start;
                width: 100%;
            }
            body{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                background-color: #f2f2f2 !important;
            }
        </style>
    </head>

    <body>
        <!--Code for Nav bar (from Bootstrap)-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/all_items">Minerva Marketplace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/">Login</a>
                </li> -->

                <li class="nav-item">
                  <a class="nav-link" href="/all_items">All Items</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/my_items_reqs">My Requests</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/my_items_post">My Posts</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/user_info">User Info</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/show_db">DB</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
        <!--CSS Styling (from Bootstrap)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--Flash messages whenever we render a page-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages%}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!--Placeholder for body-->
        {% block body %}{% endblock %}
    </body>
</html>