{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="ui placeholder segment" style="margin-top: 125px; margin-left: 350px; margin-right: 350px;">
        <div class="ui two column very relaxed stackable grid">
            <div class="column">
                <form class="ui form" action = "#" method="post">
                    <div class="field">
                        <label>Email</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="Enter email" name="user_email">
                            <i class="envelope icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" placeholder="Enter password" name="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>

                    <button class="fluid ui primary button" type="submit">Login</button>
                </form>
            </div>

            <div class="middle aligned column">
                <a href="{{url_for('sign_up')}}">
                    <div class="ui big button">
                        <i class="signup icon"></i>
                        Sign Up
                    </div>
                </a>
            </div>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
    </div>
{% endblock %}