<!--Extends functionality of base.html-->
{% extends "base.html" %}
{% block title %}Login{% endblock %}
<!--Styling for the login page-->
{% block style %}
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        /*background-color: #f2f2f2 !important;*/
    }
    .form-div{
        display: flex;
        align-items: center;
        justify-content: center;
        /*border: 2px solid pink;*/
        height: 500px;
        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        width: 500px;
        border: 1px ridge black;
        border-radius: 15px;
        height: 300px;
        background-color: #e6e6e6;
    }
    form p{
        text-align: center;
    }

{% endblock %}
{% block body %}
    <!--Login form-->
    <div class="form-div">
    <form action = "#" method="post">
        <p>Email<br><input type="text" name="user_email" placeholder="Enter email"></p>
        <p>Password<br><input type="password" name="password" placeholder="Enter Password"></p>
        <input type="submit" value="submit">
    </form>
    </div>
    <p>Don't have an account? <a href="{{url_for('sign_up')}}">Sign up</a></p>
{% endblock %}