{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block body %}
    <div class="ui right aligned basic segment">
        <a href="{{url_for('create_item')}}">
            <button class="ui button">Post Item</button>
        </a>
    </div>

    {% if not all_items[0][2] and not all_items[1][2] and not all_items[2][2] %}
        <div class="ui basic center aligned segment" style="margin-top: 125px;">
            <h4 class="ui header">No posts yet. Add an item with the "Post Item" button</h4>
        </div>
    {% endif %}
    
    {% for status, color, items in all_items %}
        {% if items %}
            <div class="ui basic center aligned segment">
                <h3 class="ui header">{{status}}</h3>
            </div>

            <div class="ui five cards" style="margin-left: 15px; margin-right: 15px;">
                {% for item in items %}
                    <div class="card">
                        <div class="ui {{color}} inverted segment"></div>
                        <a href="{{ url_for('view_item', id=item.item_id) }}">
                            <img 
                                class="ui centered image"
                                src="https://{{item.bucket}}.s3.{{item.region}}.amazonaws.com/{{item.filename}}" 
                                height="100" width="150"
                                style="margin-top: 5px; margin-bottom: 5px;"/>
                        </a>
                        <div class="extra">
                            Requester: {{item.user_name}} <br>
                            Item Name: {{item.item_name}} <br> 
                            Price: {{item.item_price}} <br>
                            Status: {{status}} <br>
                        </div>
                        <a href="{{ url_for('delete', id=item.item_id) }}">
                            <button class="ui fluid button">Delete</button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}