{% extends "base.html" %}
{% block title %}Users DB{% endblock %}
{% block body %}
    <div class="ui basic center aligned segment" style="margin-top: 10px;">
        <h2 class="ui header">All Users</h2>
    </div>
    <table class="ui celled table" style="margin-left: 10px; margin-right: 10px;">
        <thead>
            <tr><th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Class</th>
            <th>City</th>
            <th>About me</th>
            <th>Image ID</th>
        </tr></thead>
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td data-label="ID">{{user.user_id}}</td>
                    <td data-label="Name">{{user.user_name}}</td>
                    <td data-label="Password">{{user.password}}</td>
                    <td data-label="Email">{{user.user_email}}</td>
                    <td data-label="Class">{{user.user_class}}</td>
                    <td data-label="City">{{user.user_city}}</td>
                    <td data-label="About me">{{user.user_about_me}}</td>
                    <td data-label="Image ID">{{user.image_id}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="ui basic center aligned segment" style="margin-top: 10px;">
        <h2 class="ui header">All Items</h2>
    </div>
    <table class="ui celled table" style="margin-left: 10px; margin-right: 10px;">
        <thead>
            <tr><th>ID</th>
            <th>Name</th>
            <th>Poster</th>
            <th>Requester</th>
            <th>Status</th>
            <th>Location</th>
            <th>Category</th>
            <th>Date Posted</th>
            <th>Price</th>
            <th>State</th>
            <th>Image ID</th>
        </tr></thead>
        <tbody>
            {% for item in all_items %}
                <tr>
                    <td data-label="ID">{{item.item_id}}</td>
                    <td data-label="Name">{{item.item_name}}</td>
                    <td data-label="Poster">{{all_users[item.poster_id-1].user_name}}</td>
                    <td data-label="Requester">
                        {% if item.requester_id != -1 %}
                            {{all_users[item.requester_id-1].user_name}}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td data-label="Status">{{item.item_status}}</td>
                    <td data-label="Location">{{item.item_location}}</td>
                    <td data-label="Category">{{item.item_category}}</td>
                    <td data-label="Date Posted">{{item.date_posted.date()}}</td>
                    <td data-label="Price">{{item.item_price}}</td>
                    <td data-label="State">{{item.item_state}}</td>
                    <td data-label="Image ID">{{item.image_id}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="ui basic center aligned segment" style="margin-top: 10px;">
        <h2 class="ui header">All Images</h2>
    </div>
    <table class="ui celled table" style="margin-left: 10px; margin-right: 10px;">
        <thead>
            <tr><th>ID</th>
            <th>Original Filename</th>
            <th>Generated Filename</th>
            <th>S3 Bucket</th>
            <th>Region</th>
        </tr></thead>
        <tbody>
            {% for img in all_images %}
                <tr>
                    <td data-label="ID">{{img.id}}</td>
                    <td data-label="Original Filename">{{img.original_filename}}</td>
                    <td data-label="Generated Filename">{{img.filename}}</td>
                    <td data-label="S3 Bucket">{{img.bucket}}</td>
                    <td data-label="Region">{{img.region}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}