{% extends "base.html" %}
{% block title %}Users Info{% endblock %}
{% block body %}
    <div class="ui right aligned basic segment">
        <a href="{{ url_for('create_user') }}">
            <button class="ui button">Edit Info</button>
        </a>
    </div>

    <div class="ui grid" style="margin-left: 50px; margin-right: 50px;">
        <div class="eight wide column">
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td class="three wide column">About me</td>
                        <td>{{usr.user_about_me}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{usr.user_name}}</td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td>{{usr.user_class}}</td>
                    </tr>
                    <tr>
                        <td>Current city</td>
                        <td>{{usr.user_city}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{usr.user_email}}</td>
                    </tr>
                    <tr>
                        <td>Phone No.</td>
                        <td>{{usr.user_phone_no}}</td>
                    </tr>
                    <tr>
                        <td>Preferred mode of communication</td>
                        <td>{{usr.user_pmoc}}</td>
                    </tr>
                    <tr>
                        <td>Other contact info</td>
                        <td>{{usr.user_oci}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="six wide column">
            <img 
                class="ui circular centered image"
                src={{image_link}}
                height="150" width="150"
                style="margin-top: 100px; margin-bottom: 5px;"/>
        </div>
    </div>
{% endblock %}